form{
    border: solid 1px;
    width: 600 px;
    background-color: blueviolet;
}
label{
    font-size: 25px;
    font-weight: bold;
    color: brown;

}
input{
    width: 500px;
    height: 30px;

}
textarea{
    width: 500 px;
    height:120 px;
    border-radius: 20 px;
}
h1{
    font-size: 40 px;
    color:aqua;
    text-align: center;
}
p{
    font-size: 20 px;
}
button{
    width:100 px;
    height: 50 px;
}

